body {
    padding: 15px;
    /* keeps a space around perimeter of page */
    display: flex;
    flex-flow: row wrap;
    /* puts everything into a row */
    align-content: center;
    justify-content: space-between;
    background: #fae1da;
}

iframe {
    border: 4px solid #723a2c;
    /* creates border around frames */
    margin-bottom: -160px;
    /* to move up frames */
}